## imports

In [1]:
from warnings import filterwarnings

import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import RobustScaler, LabelEncoder
from pycaret.regression import *

sns.set()
filterwarnings("ignore")

## pre-saved data loading

In [2]:
train_raw = pd.read_parquet("https://github.com/XelorR/sf_project_6/raw/master/data/2022-04-08_train_pre-model.parquet")
test_raw = pd.read_parquet("https://github.com/XelorR/sf_project_6/raw/master/data/2022-04-08_test_pre-model.parquet")

train_raw.shape, test_raw.shape

((115367, 30), (34686, 28))

## pre-preprocessing

In [3]:
train_raw["train/test"] = "train"
test_raw["train/test"] = "test"

data = train_raw.append(test_raw)
data["ptc"].fillna("Оригинал", inplace=True)
data[data.select_dtypes("object").columns.tolist()] = data[data.select_dtypes("object").columns.tolist()].astype(str)

train = data.loc[data["train/test"] == "train"].drop(columns=["sample", "description", "train/test"])
test = data.loc[data["train/test"] == "test"].drop(columns=["sample", "description", "train/test", "price"])

## preprocessing

In [4]:
s = setup(
    data = train,
    target="price",
    date_features=["parsed_date"],
    high_cardinality_features = ["model_name"], 
    normalize=True,
    transformation=True,
    remove_outliers = True,
    handle_unknown_categorical = True,
    remove_multicollinearity = True,
    # preprocess = False,
    # categorical_imputation = "mode",
    # imputation_type="iterative",
    # numeric_iterative_imputer = "catboost",
    # categorical_iterative_imputer = "catboost",
    # feature_selection=True,
    # feature_selection_threshold = 0.5,
    combine_rare_levels = True,
)

## saving preprocessed datasets for future

In [6]:
train_encoded = get_config("X")
train_encoded["price"] = get_config("y")

prep_pipe = get_config("prep_pipe")
test_encoded = prep_pipe.transform(test)

train_encoded.shape, test_encoded.shape

((115367, 90), (34686, 89))

In [7]:
train_encoded.to_parquet("data/2022-04-11_train_encoded_full.parquet")
test_encoded.to_parquet("data/2022-04-11_test_encoded_full.parquet")

## comparing models

In [8]:
best = compare_models(exclude=["dummy", "ada"], n_select=7)

## prediction - first try

In [11]:
predictions = predict_model(best[0], data = test)

In [14]:
submission = pd.read_csv("data/sample_submission.csv")
submission["price"] = predictions["Label"]
submission.to_csv("submission.csv", index=False)

## saving models and variables

In [10]:
save_config("models/2022-04-11_config")
save_model(best, "models/2022-04-11_model")

Transformation Pipeline and Model Successfully Saved

(Pipeline(memory=None,
          steps=[('dtypes',
                  DataTypes_Auto_infer(categorical_features=[],
                                       display_types=True, features_todrop=[],
                                       id_columns=[], ml_usecase='regression',
                                       numerical_features=[], target='price',
                                       time_features=['parsed_date'])),
                 ('imputer',
                  Simple_Imputer(categorical_strategy='not_available',
                                 fill_value_categorical=None,
                                 fill_value_numerical=None,
                                 numer...
                                             min_samples_split=2,
                                             min_weight_fraction_leaf=0.0,
                                             n_estimators=100,
                                             n_iter_no_change=None,
                                             presort='deprecated',
                                             random_state=3213, subsample=1.0,
                                             tol=0.0001, validation_fraction=0.1,
                                             verbose=0, warm_start=False),
                   KNeighborsRegressor(algorithm='auto', leaf_size=30,
                                       metric='minkowski', metric_params=None,
                                       n_jobs=-1, n_neighbors=5, p=2,
                                       weights='uniform')]]],
          verbose=False),
 'models/2022-04-11_model.pkl')

## creating models

In [ ]:
catboost = create_model("catboost", fold=8)
rf = create_model("rf", fold=8)
knn = create_model("knn", fold=8)

IntProgress(value=0, description='Processing: ', max=4)

Initiated  . . . . . . . . . . . . . . . . . .                 21:38:23
Status     . . . . . . . . . . . . . . . . . .          Fitting 8 Folds
Estimator  . . . . . . . . . . . . . . . . . .  Random Forest Regressor

Empty DataFrame
Columns: [Fold, MAE, MSE, RMSE, R2, RMSLE, MAPE]
Index: []

In [ ]:
tuned_rf = tune_model(rf)
tuned_knn = tune_model(knn)