# Combining two datasets and making it similar

Don't use this one, [here](2022-04-02_train-test_comparison.ipynb) it more actual version.

## imports

In [1]:
from datetime import datetime
import re
import json

import pandas as pd
import numpy as np

from lib.data_viz_functions import *

In [2]:
pd.set_option("display.max_rows", 100)
pd.set_option("display.max_columns", 100)

## reading data from disk

In [3]:
train_jane = pd.read_pickle("data/train_df_full_part1.pkl.zip", compression="zip")
train_baseline = pd.read_pickle(
    "data/all_auto_ru_09_09_2020.pkl.zip", compression="zip"
)
test = pd.read_pickle("data/test.pkl.zip", compression="zip")

train_jane.shape, train_baseline.shape, test.shape

((130201, 36), (89378, 26), (34686, 32))

## preprocessing functions and vocs

In [4]:
colors_dict = {
    "040001": "чёрный",
    "EE1D19": "красный",
    "0000CC": "синий",
    "CACECB": "серый",
    "007F00": "зелёный",
    "FAFBFB": "белый",
    "97948F": "серый",
    "22A0F8": "синий",
    "660099": "фиолетовый",
    "200204": "коричневый",
    "C49648": "коричневый",
    "DEA522": "золотистый",
    "4A2197": "фиолетовый",
    "FFD600": "жёлтый",
    "FF8649": "оранжевый",
    "FFC0CB": "розовый",
}

vendor_voc_additional = {
    "CADILLAC": "AMERICAN",
    "CHERY": "CHINESE",
    "CHEVROLET": "AMERICAN",
    "CHRYSLER": "AMERICAN",
    "CITROEN": "EUROPEAN",
    "DAEWOO": "KOREAN",
    "DODGE": "AMERICAN",
    "FORD": "AMERICAN",
    "GEELY": "CHINEESE",
    "HYUNDAI": "KOREAN",
    "JAGUAR": "EUROPEAN",
    "JEEP": "AMERICAN",
    "KIA": "KOREAN",
    "MAZDA": "JAPANESE",
    "MINI": "EUROPEAN",
    "OPEL": "EUROPEAN",
    "PEUGEOT": "EUROPEAN",
    "PORSCHE": "EUROPEAN",
    "RENAULT": "EUROPEAN",
    "SUBARU": "JAPANESE",
    "SUZUKI": "JAPANESE",
    "GREAT_WALL": "CHINESE",
    "LAND_ROVER": "EUROPEAN",
    "SSANG_YONG": "KOREAN",
}

In [5]:
def parse_ownership_duration(train_str: str) -> float:

    """
    Returns ownership duration in days
    """

    baseline_str = "{'year': 2020, 'month': 9}"

    if not isinstance(train_str, str):
        return np.nan
    elif "year" in str(train_str):
        baseline_dict = json.loads(baseline_str.replace("'", '"'))
        train_dict = json.loads(train_str.replace("'", '"'))

        baseline_date = datetime.strptime(
            f"{baseline_dict['year']}-{baseline_dict['month']}-1", "%Y-%m-%d"
        )
        train_date = datetime.strptime(
            f"{train_dict['year']}-{train_dict['month']}-1", "%Y-%m-%d"
        )
        return (baseline_date - train_date).days
    elif " и " in str(train_str):
        return (
            int(train_str.split(" ")[0]) * 365
            + int(train_str.split(" и ")[1].split(" ")[0]) * 30
        )
    else:
        return int(train_str.split(" ")[0]) * 365


def get_number_of_owners_from_owners(in_str):
    if not isinstance(in_str, str):
        return None
    else:
        result = in_str.replace("\xa0", "")
        return int(re.sub("\D", "", result))
    # return string (to cat)


def get_engine_value(in_str):
    parsed_str = re.findall("(\d+.\d+)", in_str)
    if len(parsed_str):
        return float(parsed_str[0])
    else:
        return None


def get_volume_from_vehicleConfiguration(in_str: str) -> str:
    if not pd.isna(in_str):
        engine_volume = re.findall("[\d]*[.][\d]+", in_str)
        if len(engine_volume) >= 1:
            return engine_volume[0]
        else:
            return np.nan
    else:
        return np.nan

## quick view

In [6]:
describe_nums(train_jane.select_dtypes(exclude="object"))

In [7]:
describe_nums(train_baseline.select_dtypes(exclude="object"))

In [8]:
describe_nums(test.select_dtypes(exclude="object"))

In [9]:
train_jane.select_dtypes("object").shape, train_baseline.select_dtypes(
    "object"
).shape, test.select_dtypes("object").shape

((130201, 26), (89378, 16), (34686, 26))

In [10]:
train_jane.select_dtypes("object").describe().T.sort_values("unique", ascending=False)

,count,unique,top,freq
super_gen,130135,43825,"{'sale-data-attributes': {'asciiCat': 'cars', ...",235
image,130065,42933,https://avatars.mds.yandex.net/get-autoru-vos/...,241
car_url,129969,40721,https://auto.ru/cars/new/group/toyota/rav_4/21...,428
description,129988,35274,Официальный дилер Mercedes Benz ООО РОЛЬФ фили...,3230
equipment_dict,129969,31190,{},8214
complectation_dict,105267,2348,"['cruise-control', 'multi-wheel', 'airbag-pass...",1979
name,130153,2283,Nissan X-Trail III Рестайлинг,4013
region,103034,1335,в Москве,39180
date_added,103034,939,25 сентября,44873
vehicleConfiguration,129987,564,ALLROAD_5_DOORS AUTOMATIC 3.0,10895
model_name,103034,514,Tiguan,4592
enginePower,129988,307,249 N12,14262
Владение,14286,261,3 года и 2 месяца,646
engineDisplacement,129988,52,2.0 LTR,36933
bodyType,129986,21,внедорожник 5 дв.,75068
color,129988,16,чёрный,42216
brand,129988,12,TOYOTA,20117
fuelType,129986,5,бензин,100407
vehicleTransmission,129986,4,автоматическая,73836
Владельцы,103034,3,1 владелец,40576
Привод,103032,3,полный,58563
ПТС,103034,2,Оригинал,92587
Руль,103033,2,Левый,99356
priceCurrency,130153,2,RUB,129969
Состояние,103032,1,Не требует ремонта,103032
Таможня,103030,1,Растаможен,103030

In [11]:
train_baseline.select_dtypes("object").describe().T.sort_values(
    "unique", ascending=False
)

,count,unique,top,freq
description,86124,77568,РОЛЬФ Северо-Запад - это первый мегамолл автом...,246
start_date,89378,75680,2020-09-01T10:01:11Z,93
Комплектация,89378,5839,{'id': '0'},59130
name,89377,4484,2.0 AT (150 л.с.),1610
vehicleConfiguration,89377,1860,SEDAN MECHANICAL 1.6,4166
model,89378,1086,FOCUS,2467
engineDisplacement,89377,534,1.6,17032
Владение,29201,290,"{'year': 2018, 'month': 10}",497
bodyType,89377,168,Внедорожник 5 дв.,31885
brand,89378,36,MERCEDES,8012
color,89378,16,040001,25212
fuelType,89378,6,бензин,75053
vehicleTransmission,89377,4,AUTOMATIC,49218
Привод,89377,3,передний,47315
Руль,89378,2,LEFT,87589
ПТС,89017,2,ORIGINAL,78597

In [12]:
train_jane["enginePower"] = train_jane["enginePower"].replace("undefined N12", None)
train_jane["enginePower"] = (
    train_jane[~pd.isna(train_jane["enginePower"])]["enginePower"]
    .str.split()
    .str.get(0)
    .astype("int")
)

In [13]:
test["enginePower"] = test["enginePower"].replace("undefined N12", None)
test["enginePower"] = (
    test[~pd.isna(test["enginePower"])]["enginePower"]
    .str.split()
    .str.get(0)
    .astype("int")
)

In [14]:
train_jane["engineDisplacement"] = train_jane["engineDisplacement"].replace(
    " LTR", None
)
train_jane["engineDisplacement"] = (
    train_jane[~pd.isna(train_jane["engineDisplacement"])]["engineDisplacement"]
    .str.split()
    .str.get(0)
    .astype("float")
)

In [15]:
train_baseline['name'] = train_baseline['name'].astype('str')
mask = train_baseline['name'].str.lower().str.contains('electro')
train_baseline.loc[mask, 'name'] = 'Electro'

In [16]:
train_baseline['engineDisplacement'] = train_baseline['name'].apply(get_volume_from_vehicleConfiguration).astype('float64')

In [17]:
train_baseline['engineDisplacement'].unique()

array([2.8, 1.8, 2.3, 2. , 2.6, 2.2, 2.5, 1.9, 2.1, 2.4, 1.6, 1.3, 3.3,
       1.4, 1.2, 3.2, 1.5, 3.1, 3. , 2.7, 4.2, 4. , 3.9, 6.3, 6. , 3.7,
       4.1, nan, 3.6, 5.9, 5.2, 2.9, 5. , 1.7, 4.4, 3.4, 3.5, 4.8, 5.4,
       6.6, 0.7, 4.9, 4.6, 6.2, 4.5, 6.4, 8.2, 5.3, 5.7, 7. , 1.1, 0.8,
       4.3, 8.1, 6.7, 3.8, 1. , 7.5, 7.4, 6.5, 6.1, 6.8, 4.7, 8.4, 5.8,
       7.3, 5.6, 5.5])

In [18]:
test["engineDisplacement"] = test["engineDisplacement"].replace(
    " LTR", None
)
test["engineDisplacement"] = (
    test[~pd.isna(test["engineDisplacement"])]["engineDisplacement"]
    .str.split()
    .str.get(0)
    .astype("float")
)

In [19]:
train_jane.engineDisplacement.head()

0    1.8
1    1.6
2    1.6
3    1.4
4    1.4
Name: engineDisplacement, dtype: float64

In [20]:
train_jane["used"] = train_jane["car_url"].str.contains("used")

In [21]:
train_jane[train_jane["used"] == False].dropna(thresh=24).shape

(0, 37)

In [22]:
test.iloc[34682]

bodyType                                                            седан
brand                                                                 BMW
car_url                 https://auto.ru/cars/used/sale/bmw/5er/1101369...
color                                                              чёрный
complectation_dict                                                    NaN
description                                Продаётся отличный автомобиль.
engineDisplacement                                                    2.0
enginePower                                                           190
equipment_dict                                                        NaN
fuelType                                                           дизель
image                   https://autoru.naydex.net/nwI1K7152/b604fdsYg7...
mileage                                                             98000
modelDate                                                            2016
model_info              {"code":"5ER","name":"5 серии","ru_name":"5 се...
model_name                                                            5ER
name                                   520d xDrive 2.0d AT (190 л.с.) 4WD
numberOfDoors                                                           4
parsing_unixtime                                               1603707651
priceCurrency                                                         RUB
productionDate                                                       2018
sell_id                                                        1101369581
super_gen               {"id":"20856402","name":"520","nameplate":"520...
vehicleConfiguration                                  SEDAN AUTOMATIC 2.0
vehicleTransmission                                        автоматическая
vendor                                                           EUROPEAN
Владельцы                                                      1 владелец
Владение                                                              NaN
ПТС                                                              Оригинал
Привод                                                             полный
Руль                                                                Левый
Состояние                                              Не требует ремонта
Таможня                                                        Растаможен
Name: 34682, dtype: object

In [23]:
train_jane["car_url"].str.contains("used").value_counts()

True     103034
False     26935
Name: car_url, dtype: int64

In [24]:
test.select_dtypes("object").describe().T.sort_values("unique", ascending=False)

,count,unique,top,freq
car_url,34686,34686,https://auto.ru/cars/used/sale/skoda/octavia/1...,1
image,34686,34557,https://avatars.mds.yandex.net/get-verba/21620...,13
description,34686,31732,Выгода до 82 000 руб. при обмене на Ваш автомо...,264
equipment_dict,24690,23705,"{""leather"":true}",108
super_gen,34686,5890,"{""id"":""6214876"",""displacement"":1598,""engine_ty...",193
name,34686,2780,1.6 AT (110 л.с.),631
complectation_dict,6418,2364,"{""id"":""4562904"",""name"":""Elegance"",""available_o...",51
model_info,34686,954,"{""code"":""OCTAVIA"",""name"":""Octavia"",""ru_name"":""...",1404
vehicleConfiguration,34686,634,ALLROAD_5_DOORS AUTOMATIC 3.0,2389
model_name,34686,544,OCTAVIA,1418
Владение,11995,275,1 год и 10 месяцев,209
bodyType,34686,24,седан,13147
color,34686,16,чёрный,11010
brand,34686,12,BMW,4473
fuelType,34686,5,бензин,28601
vehicleTransmission,34686,4,автоматическая,19596
Владельцы,34686,3,3 или более,15957
Привод,34686,3,передний,15565
vendor,34686,2,EUROPEAN,20682
ПТС,34685,2,Оригинал,30098
Руль,34686,2,Левый,33287
Состояние,34686,1,Не требует ремонта,34686
priceCurrency,34686,1,RUB,34686
Таможня,34686,1,Растаможен,34686

In [25]:
test["fuelType"].value_counts()

бензин     28601
дизель      5800
гибрид       223
электро       55
газ            7
Name: fuelType, dtype: int64

In [26]:
test.groupby("car_url")["image"].count().sort_values(ascending=False).head(10)

car_url
https://auto.ru/cars/used/sale/audi/100/1016944865-8eb8f/            1
https://auto.ru/cars/used/sale/skoda/octavia/1100434568-e9537421/    1
https://auto.ru/cars/used/sale/skoda/octavia/1100515744-d97a41fa/    1
https://auto.ru/cars/used/sale/skoda/octavia/1100514944-54916e94/    1
https://auto.ru/cars/used/sale/skoda/octavia/1100513036-35594e9f/    1
https://auto.ru/cars/used/sale/skoda/octavia/1100495414-bb724b6c/    1
https://auto.ru/cars/used/sale/skoda/octavia/1100492150-5ae5281f/    1
https://auto.ru/cars/used/sale/skoda/octavia/1100491772-7f29f9e8/    1
https://auto.ru/cars/used/sale/skoda/octavia/1100487934-c961ee31/    1
https://auto.ru/cars/used/sale/skoda/octavia/1100486714-6ff064ce/    1
Name: image, dtype: int64

In [27]:
test.iloc[2]["model_info"]

'{"code":"SUPERB","name":"Superb","ru_name":"Суперб","morphology":{},"nameplate":{"code":"","name":"","semantic_url":""}}'

In [28]:
test[test["vehicleConfiguration"] == "ALLROAD_5_DOORS AUTOMATIC 2.0"].sample(
    5, random_state=42
)

,bodyType,brand,car_url,color,complectation_dict,description,engineDisplacement,enginePower,equipment_dict,fuelType,image,mileage,modelDate,model_info,model_name,name,numberOfDoors,parsing_unixtime,priceCurrency,productionDate,sell_id,super_gen,vehicleConfiguration,vehicleTransmission,vendor,Владельцы,Владение,ПТС,Привод,Руль,Состояние,Таможня
23340,внедорожник 5 дв.,VOLKSWAGEN,https://auto.ru/cars/used/sale/volkswagen/tigu...,серебристый,NaN,Единственный владелец\nАвтомобиль с полным НДС...,2.0,140,"{""cruise-control"":true,""asr"":true,""airbag-driv...",дизель,https://autoru.naydex.net/o9DBXQ270/5ac010hAY0...,70366,2011,"{""code"":""TIGUAN"",""name"":""Tiguan"",""ru_name"":""Ти...",TIGUAN,2.0d AT (140 л.с.) 4WD,5,1603213368,RUB,2015,1101291589,"{""id"":""7344497"",""displacement"":1968,""engine_ty...",ALLROAD_5_DOORS AUTOMATIC 2.0,автоматическая,EUROPEAN,1 владелец,NaN,Оригинал,полный,Левый,Не требует ремонта,Растаможен
5517,внедорожник 5 дв.,HONDA,https://auto.ru/cars/used/sale/honda/cr_v/1101...,белый,NaN,✔У НАС КРЕДИТ ДАДУТ ВСЕМ!\n●ПРОСТО ОСТАВЬТЕ ЗА...,2.0,128,"{""engine-proof"":true,""asr"":true,""adaptive-ligh...",бензин,https://autoru.naydex.net/mcQh17801/f1b5751dCi...,156000,1995,"{""code"":""CR_V"",""name"":""CR-V"",""ru_name"":""CR-V"",...",CR_V,2.0 AT (128 л.с.) 4WD,5,1603254705,RUB,1998,1101117481,"{""id"":""20501678"",""displacement"":1973,""engine_t...",ALLROAD_5_DOORS AUTOMATIC 2.0,автоматическая,JAPANESE,3 или более,NaN,Оригинал,полный,Левый,Не требует ремонта,Растаможен
10155,внедорожник 5 дв.,BMW,https://auto.ru/cars/used/sale/bmw/x3/10960043...,красный,"{""id"":""2424078"",""name"":""xDrive20"",""available_o...","Продаю автомобиль БМВ-Х 3,2009 года выпуска,...",2.0,177,"{""engine-proof"":true,""esp"":true,""airbag-driver...",дизель,https://autoru.naydex.net/lICN99c69/9bc7d3Rr7k...,158313,2006,"{""code"":""X3"",""name"":""X3"",""ru_name"":""Х3"",""morph...",X3,20d 2.0d AT (177 л.с.) 4WD,5,1603117968,RUB,2009,1096004334,"{""id"":""4917631"",""name"":""20d"",""nameplate"":""20d""...",ALLROAD_5_DOORS AUTOMATIC 2.0,автоматическая,EUROPEAN,3 или более,3 года и 5 месяцев,Оригинал,полный,Левый,Не требует ремонта,Растаможен
6177,внедорожник 5 дв.,HONDA,https://auto.ru/cars/used/sale/honda/cr_v/1100...,красный,NaN,"Авто в отличном состоянии для своих лет, ходов...",2.0,128,NaN,бензин,https://avatars.mds.yandex.net/get-autoru-vos/...,319000,1995,"{""code"":""CR_V"",""name"":""CR-V"",""ru_name"":""CR-V"",...",CR_V,2.0 AT (128 л.с.) 4WD,5,1603257132,RUB,1998,1100628270,"{""id"":""20501678"",""displacement"":1973,""engine_t...",ALLROAD_5_DOORS AUTOMATIC 2.0,автоматическая,JAPANESE,3 или более,NaN,Оригинал,полный,Левый,Не требует ремонта,Растаможен
4276,внедорожник 5 дв.,AUDI,https://auto.ru/cars/used/sale/audi/q5/1101303...,белый,NaN,Состояние нового автомобиля. Нет крашенных эле...,2.0,180,"{""alloy-wheel-disks"":true,""ptf"":true,""aux"":tru...",бензин,https://avatars.mds.yandex.net/get-autoru-vos/...,31420,2012,"{""code"":""Q5"",""name"":""Q5"",""ru_name"":""Ку5"",""morp...",Q5,2.0 AT (180 л.с.) 4WD,5,1603129045,RUB,2016,1101303784,"{""id"":""20773921"",""displacement"":1984,""engine_t...",ALLROAD_5_DOORS AUTOMATIC 2.0,автоматическая,EUROPEAN,2 владельца,2 месяца,Оригинал,полный,Левый,Не требует ремонта,Растаможен

In [29]:
test["Владельцы"] = test["Владельцы"].apply(get_number_of_owners_from_owners)
train_jane["Владельцы"] = train_jane["Владельцы"].apply(get_number_of_owners_from_owners)

In [30]:
print(
    "unique object cols in train (Jane's version):",
    set(train_jane.select_dtypes("object").columns.tolist())
    - set(test.select_dtypes("object").columns.tolist()),
    "\nunique object cols in test:",
    set(test.select_dtypes("object").columns.tolist())
    - set(train_jane.select_dtypes("object").columns.tolist()),
)

unique object cols in train (Jane's version): {'region', 'used', 'date_added'}
unique object cols in test: {'vendor', 'model_info'}

## making train and test similar

In [31]:
train_jane["model_name"] = train_jane.model_name.apply(lambda x: x.lower() if not pd.isna(x) else x)
test["model_name"] = test.model_name.apply(lambda x: x.lower() if not pd.isna(x) else x)

In [32]:
vendor_voc = (
    test[["brand", "vendor"]].drop_duplicates().set_index("brand").to_dict()["vendor"]
) | vendor_voc_additional
vendor_voc

{'SKODA': 'EUROPEAN',
 'AUDI': 'EUROPEAN',
 'HONDA': 'JAPANESE',
 'VOLVO': 'EUROPEAN',
 'BMW': 'EUROPEAN',
 'NISSAN': 'JAPANESE',
 'INFINITI': 'JAPANESE',
 'MERCEDES': 'EUROPEAN',
 'TOYOTA': 'JAPANESE',
 'LEXUS': 'JAPANESE',
 'VOLKSWAGEN': 'EUROPEAN',
 'MITSUBISHI': 'JAPANESE',
 'CADILLAC': 'AMERICAN',
 'CHERY': 'CHINESE',
 'CHEVROLET': 'AMERICAN',
 'CHRYSLER': 'AMERICAN',
 'CITROEN': 'EUROPEAN',
 'DAEWOO': 'KOREAN',
 'DODGE': 'AMERICAN',
 'FORD': 'AMERICAN',
 'GEELY': 'CHINEESE',
 'HYUNDAI': 'KOREAN',
 'JAGUAR': 'EUROPEAN',
 'JEEP': 'AMERICAN',
 'KIA': 'KOREAN',
 'MAZDA': 'JAPANESE',
 'MINI': 'EUROPEAN',
 'OPEL': 'EUROPEAN',
 'PEUGEOT': 'EUROPEAN',
 'PORSCHE': 'EUROPEAN',
 'RENAULT': 'EUROPEAN',
 'SUBARU': 'JAPANESE',
 'SUZUKI': 'JAPANESE',
 'GREAT_WALL': 'CHINESE',
 'LAND_ROVER': 'EUROPEAN',
 'SSANG_YONG': 'KOREAN'}

In [33]:
train_jane["vendor"] = train_jane["brand"].map(vendor_voc)
train_baseline["vendor"] = train_baseline["brand"].map(vendor_voc)
train_jane.vendor.unique().tolist(), train_baseline.vendor.unique().tolist()

(['EUROPEAN', nan, 'JAPANESE'],
 ['EUROPEAN', 'AMERICAN', 'CHINESE', 'KOREAN', 'CHINEESE', 'JAPANESE'])

In [34]:
test.vendor.value_counts(dropna=False)

EUROPEAN    20682
JAPANESE    14004
Name: vendor, dtype: int64

In [35]:
train_jane.vendor.value_counts(dropna=False)

EUROPEAN    72959
JAPANESE    57029
NaN           213
Name: vendor, dtype: int64

In [36]:
train_baseline.vendor.value_counts(dropna=False)

EUROPEAN    43082
JAPANESE    21917
KOREAN      13122
AMERICAN     9976
CHINESE       986
CHINEESE      295
Name: vendor, dtype: int64

In [37]:
train_baseline.loc[train_baseline.vendor.isna()]["brand"].unique()

array([], dtype=object)

In [38]:
train_jane.dropna(subset=["vendor"], axis="rows", inplace=True)

In [39]:
print(
    len(train_jane.loc[train_jane.vendor.isna()]["model_name"].unique().tolist()),
    "na of",
    len(train_jane.model_name.unique().tolist()),
)

0 na of 514

In [40]:
train_jane.loc[train_jane.vendor.isna()].shape

(0, 37)

In [41]:
train_jane.priceCurrency.unique()

array(['RUB', 'RUR'], dtype=object)

In [42]:
train_baseline.columns.sort_values().tolist()

['bodyType',
 'brand',
 'color',
 'description',
 'engineDisplacement',
 'enginePower',
 'fuelType',
 'hidden',
 'mileage',
 'model',
 'modelDate',
 'name',
 'numberOfDoors',
 'price',
 'productionDate',
 'start_date',
 'vehicleConfiguration',
 'vehicleTransmission',
 'vendor',
 'Владельцы',
 'Владение',
 'Комплектация',
 'ПТС',
 'Привод',
 'Руль',
 'Состояние',
 'Таможня']

## deleting cols which can't be used

at least for now - to re-review later

In [43]:
del test["car_url"]
del test["complectation_dict"]
del test["equipment_dict"]
del test["image"]
del test["model_info"]
del test["name"]
del test["parsing_unixtime"]
del test["priceCurrency"]
del test["sell_id"]
del test["vehicleConfiguration"]
del test["Состояние"]
del test["Таможня"]
del test["super_gen"]
del test["model_name"]
del train_baseline["hidden"]
del train_baseline["name"]
del train_baseline["start_date"]
del train_baseline["vehicleConfiguration"]
del train_baseline["Комплектация"]
del train_baseline["Состояние"]
del train_baseline["Таможня"]
del train_baseline["model"]
del train_jane["car_url"]
del train_jane["complectation_dict"]
del train_jane["date_added"]
del train_jane["equipment_dict"]
del train_jane["image"]
del train_jane["model_info"]
del train_jane["name"]
del train_jane["parsing_unixtime"]
del train_jane["priceCurrency"]
del train_jane["region"]
del train_jane["sell_id"]
del train_jane["vehicleConfiguration"]
del train_jane["views"]
del train_jane["Состояние"]
del train_jane["Таможня"]
del train_jane["super_gen"]
del train_jane["used"]
del train_jane["model_name"]

## view again

In [44]:
describe_nums(train_jane.select_dtypes(exclude="object"))

In [45]:
describe_nums(train_baseline.select_dtypes(exclude="object"))

In [46]:
describe_nums(test.select_dtypes(exclude="object"))

In [47]:
train_jane.select_dtypes("object").shape, train_baseline.select_dtypes(
    "object"
).shape, test.select_dtypes("object").shape

((129988, 11), (89378, 11), (34686, 11))

In [48]:
train_jane.select_dtypes("object").describe().T.sort_values("unique", ascending=False)

,count,unique,top,freq
description,129988,35274,Официальный дилер Mercedes Benz ООО РОЛЬФ фили...,3230
Владение,14286,261,3 года и 2 месяца,646
bodyType,129986,21,внедорожник 5 дв.,75068
color,129988,16,чёрный,42216
brand,129988,12,TOYOTA,20117
fuelType,129986,5,бензин,100407
vehicleTransmission,129986,4,автоматическая,73836
Привод,103032,3,полный,58563
vendor,129988,2,EUROPEAN,72959
ПТС,103034,2,Оригинал,92587
Руль,103033,2,Левый,99356

In [49]:
train_baseline.select_dtypes("object").describe().T.sort_values(
    "unique", ascending=False
)

,count,unique,top,freq
description,86124,77568,РОЛЬФ Северо-Запад - это первый мегамолл автом...,246
Владение,29201,290,"{'year': 2018, 'month': 10}",497
bodyType,89377,168,Внедорожник 5 дв.,31885
brand,89378,36,MERCEDES,8012
color,89378,16,040001,25212
fuelType,89378,6,бензин,75053
vendor,89378,6,EUROPEAN,43082
vehicleTransmission,89377,4,AUTOMATIC,49218
Привод,89377,3,передний,47315
Руль,89378,2,LEFT,87589
ПТС,89017,2,ORIGINAL,78597

In [50]:
test.select_dtypes("object").describe().T.sort_values("unique", ascending=False)[
    "top"
].head(1).tolist()

['Выгода до 82 000 руб. при обмене на Ваш автомобиль! \nВыгода при покупке в кредит до 100 000 руб.! \nРОЛЬФ ЯСЕНЕВО с пробегом. \n-Мы принимаем любые легковые и коммерческие автомобили независимо от марки, года выпуска, пробега и состояния автомобиля. \n-В наличии более 500 проверенных и готовых к продаже автомобилей. \n-Более 400 комплектов шин, дисков, колес в сборе. \n-Все автомобили проходят комплексную проверку - техническую, криминалистическую, проверку истории кузовных ремонтов сертифицированными специалистами. \n-Мы предоставляем гарантию юридической чистоты в соответствии с законодательством РФ. \n-Мы работаем каждый день с 9:00 до 22:00 (без выходных). \nУслуги: \n• Срочный выкуп Вашего автомобиля \n• Выкуп кредитных а/м \n• Trade-in - обмен Вашего автомобиля на новый или с пробегом (возможна доплата с любой стороны) \n• Выездная оценка Вашего а/м \n• Комиссионная продажа (на Ваших условиях) \n• Аукцион \n• Кредитование \n• Страхование КАСКО, ОСАГО \n• Дополнительное оборудование \n• Запасные части \n• Сервисное обслуживание \n• Б/У шины и диски']

In [51]:
test.sample(3).T

,4240,2391,12071
bodyType,седан,внедорожник 5 дв.,внедорожник 5 дв.
brand,AUDI,AUDI,NISSAN
color,синий,чёрный,красный
description,Автомобиль в хорошем техническом и внешнем сос...,Комфорт: 6. Безопасность: 7. Салон: 5. Обзор: ...,Куплен у официального дилера. Сервисная книжка...
engineDisplacement,2.0,3.0,3.5
enginePower,130,245,249
fuelType,бензин,дизель,бензин
mileage,360000,101837,165000
modelDate,2000,2009,2010
numberOfDoors,4,5,5
productionDate,2001,2015,2011
vehicleTransmission,вариатор,автоматическая,вариатор
vendor,EUROPEAN,EUROPEAN,JAPANESE
Владельцы,3,2,2
Владение,5 лет и 4 месяца,NaN,3 года и 7 месяцев
ПТС,Дубликат,Оригинал,Оригинал
Привод,передний,полный,полный
Руль,Левый,Левый,Левый

In [52]:
train_jane.loc[train_jane.price.isna()].shape[0], train_jane.price.shape[
    0
], train_jane.loc[train_jane.price.isna()].shape[0] / train_jane.price.shape[0]

(20223, 129988, 0.15557589931378282)

## conclusion - to do about variables

$y = price$ - dropna, multiply for date course based coefficient for each dataset, take a log

- [ ] **description** - to tokenize - to read more about tokenize
- [ ] **engineDisplacement** - convert to float
- [ ] **enginePower** - convert to integer
- [ ] **Владельцы** - convert to integer
- [ ] **Владение** - calculate number of day
- [ ] **used** - is it possible to create this from urls or something for other datasets?
- [ ] **super_gen** - do we have something to extract? We have no such col in baseline
- [ ] **bodyType**, **color**, **brand**, **fuelType**, **vehicleTransmission**, **Привод**, **ПТС**, **Руль** - _temporary keep as is_

more

- [ ] mileage rename
- [ ] compare with existing features
- [ ] compare 4 dicts (equepment, complactation) train - test
Numerics - fill na, log if tailed, standartize
https://www.kaggle.com/datasets/gmbitz/all-auto-ru-09-09-2020

## more to do

check NA <= 5 () (new column)
make new or used column
electric - drop

make t-sne plot new-used - is it differ?

## checking datasets similarity

In [53]:
train_jane.shape, train_baseline.shape, test.shape

((129988, 19), (89378, 19), (34686, 18))

In [54]:
train_jane[train_jane.columns.sort_values().tolist()].sample(3, random_state=42).T

,81629,45094,117876
bodyType,компактвэн,хэтчбек 5 дв.,внедорожник 5 дв.
brand,TOYOTA,NISSAN,VOLKSWAGEN
color,серый,красный,белый
description,Надежный и проверенный автомобиль с пробегом ...,Только один день автомобили с пробегом с выгод...,Автомобиль с пробегом от официального дилера V...
engineDisplacement,1.8,1.6,2.0
enginePower,147.0,110.0,150.0
fuelType,бензин,бензин,дизель
mileage,160861.0,107539.0,31922.0
modelDate,2009.0,2010.0,2016.0
numberOfDoors,5.0,5.0,5.0
price,649000.0,629815.0,2298000.0
productionDate,2009.0,2011.0,2018.0
vehicleTransmission,вариатор,автоматическая,роботизированная
vendor,JAPANESE,JAPANESE,EUROPEAN
Владельцы,1.0,2.0,1.0
Владение,NaN,NaN,3 года и 2 месяца
ПТС,Оригинал,Оригинал,Оригинал
Привод,передний,передний,полный
Руль,Левый,Левый,Левый

In [55]:
# train_baseline.rename(columns={"model": "model_name"}, inplace=True)
train_baseline[train_baseline.columns.sort_values().tolist()].sample(
    3, random_state=42
).T

,54772,73499,74260
bodyType,Компактвэн,Седан,Лифтбек
brand,OPEL,VOLKSWAGEN,VOLKSWAGEN
color,040001,FFD600,FAFBFB
description,Продам авто в хорошем состоянии без проблем вс...,"Штрафы оплаченны !! На днях снимут с машины, н...",Фольксваген Центр Подольск готов сделать вам п...
engineDisplacement,1.8,1.6,1.6
enginePower,140.0,90.0,90.0
fuelType,бензин,бензин,бензин
mileage,177000,380000,0
modelDate,2005.0,2014.0,2020.0
numberOfDoors,5.0,4.0,5.0
price,360000.0,340000.0,821900.0
productionDate,2008,2016,2020
vehicleTransmission,ROBOT,MECHANICAL,MECHANICAL
vendor,EUROPEAN,EUROPEAN,EUROPEAN
Владельцы,2.0,1.0,NaN
Владение,"{'year': 2017, 'month': 6}",NaN,NaN
ПТС,ORIGINAL,ORIGINAL,ORIGINAL
Привод,передний,передний,передний
Руль,LEFT,LEFT,LEFT

In [56]:
test[test.columns.sort_values().tolist()].sample(3, random_state=42).T

,19026,3337,11807
bodyType,внедорожник 5 дв.,седан,внедорожник 5 дв.
brand,TOYOTA,AUDI,NISSAN
color,чёрный,синий,белый
description,ЛОТ: 01215604\nФаворит Хофф\n\nВы можете получ...,Авто в идеальном состоянии проблем нет смотрит...,Комфорт: 6. Безопасность: 4. Обзор: 2. Салон: 2.
engineDisplacement,2.0,1.8,2.0
enginePower,150,125,141
fuelType,бензин,бензин,бензин
mileage,121490,240000,104842
modelDate,2000,1994,2010
numberOfDoors,5,4,5
productionDate,2001,1997,2014
vehicleTransmission,автоматическая,механическая,вариатор
vendor,JAPANESE,EUROPEAN,JAPANESE
Владельцы,3,2,2
Владение,NaN,1 год и 5 месяцев,NaN
ПТС,Оригинал,Оригинал,Оригинал
Привод,полный,передний,полный
Руль,Левый,Левый,Левый

## comments on further train_baseline processing

- [ ] bodyType - no doors specified
- [ ] color - hexified
- [ ] model_name - more standartified
- [ ] productionDate - different dtype
- [x] Владение - to convert to number of days
- [ ] vehicleTransmission - to standartize naming
- [ ] ПТС - to standartize naming
- [ ] Руль - to standartize naming

## merging train datasets

In [57]:
train_jane['sample'] = 1
train_baseline['sample'] = 2
train = pd.concat([train_jane, train_baseline])
train["modelDate"] = train["modelDate"].astype("float32")
train["numberOfDoors"] = train["numberOfDoors"].astype("float32")
train["productionDate"] = train["productionDate"].astype("float32")
train["Владельцы"] = train["Владельцы"].astype("float32")

In [58]:
train["Владение"] = train["Владение"].apply(parse_ownership_duration)
test["Владение"] = test["Владение"].apply(parse_ownership_duration)

In [59]:
train["Владение"].value_counts().head(5)

1155.0    646
2555.0    634
730.0     623
3650.0    603
365.0     525
Name: Владение, dtype: int64

## ------------------------

In [60]:
train.drop_duplicates(inplace=True)
train.dropna(subset=['price'], inplace = True)

### processing body type

In [61]:
train['bodyType'] = train['bodyType'].str.replace('-', ' ')
train['bodyType'] = train['bodyType'].str.lower()

In [62]:
test['bodyType'] = test['bodyType'].str.replace('-', ' ')
test['bodyType'] = test['bodyType'].apply(lambda x: x.split()[0] if not pd.isna(x) else x)

In [63]:
train['bodyType'] = train['bodyType'].apply(lambda x: x.split()[0] if not pd.isna(x) else x)
train.bodyType.value_counts()

внедорожник    48273
седан          40795
хэтчбек        12625
лифтбек         6089
универсал       4502
минивэн         2990
компактвэн      2554
купе            2103
пикап            803
кабриолет        242
родстер          194
фургон           175
микровэн          54
тарга              9
лимузин            7
фастбек            3
Name: bodyType, dtype: int64

### processing vehicleTransmission column to standart naming

In [64]:
transmission_dict = {
    'роботизированная': 'ROBOT',
    'автоматическая': 'AUTOMATIC',
    'механическая': 'MECHANICAL',
    'вариатор': 'VARIATOR'
}

In [65]:
test['vehicleTransmission'] = test['vehicleTransmission'].replace(transmission_dict)
train['vehicleTransmission'] = train['vehicleTransmission'].replace(transmission_dict)

In [66]:
train['vehicleTransmission'].value_counts(dropna=False)

AUTOMATIC     67906
MECHANICAL    30233
ROBOT         11910
VARIATOR      11369
NaN               2
Name: vehicleTransmission, dtype: int64

In [67]:
test['vehicleTransmission'].value_counts(dropna=False)

AUTOMATIC     19596
MECHANICAL     7209
VARIATOR       3999
ROBOT          3882
Name: vehicleTransmission, dtype: int64

#### BodyType column #1 - a lot of cats

In [68]:
# train['bodyType'] = train['bodyType'].apply(get_bodytype)

#### BodyType column #2 - only main types - few cats

In [69]:
train['bodyType'] = train['bodyType'].apply(lambda x: x.split()[0] if not pd.isna(x) else x)

#### Model Name standardization

In [70]:
train["color"].replace(colors_dict, inplace=True)

In [71]:
train.color.unique()

array(['белый', 'синий', 'серый', 'чёрный', 'бежевый', 'серебристый',
       'красный', 'коричневый', 'оранжевый', 'пурпурный', 'жёлтый',
       'зелёный', 'голубой', 'фиолетовый', 'золотистый', 'розовый'],
      dtype=object)

### Description section

#### Lowering all text

In [72]:
train['description'] = train['description'].str.lower()

#### Cleaning from all except letters and digits

In [73]:
r = re.compile('[\W_]+')
train['description'].apply(lambda x: r.sub(' ', x) if not pd.isna(x) else x)

0        автомобиль приобретался у официального дилера ...
1        группа компаний элан моторс официальный дилер ...
2        специальные предложения на автомобили в наличи...
3         купим ваш автомобиль дорого гарантированная с...
4        лот 01267595 скидка на автомобиль при покупке ...
                               ...
89373    светит крутит работает всё без торга в москву ...
89374    автомобиль на ходу каждый день в движении с мо...
89375    автомобиль куплен в декабре 2015 г новым всё ч...
89376    продаю семейного любимца большой вместительный...
89377    авто в отличном состоянии всё работает большой...
Name: description, Length: 121420, dtype: object

## ПТС и Руль

In [74]:
train["ПТС"].replace({"ORIGINAL":"Оригинал", "DUPLICATE":"Дубликат"}, inplace=True)

In [75]:
train["Руль"].replace({"LEFT":"Левый", "RIGHT":"Правый"}, inplace=True)

## writing to files

In [76]:
train.to_pickle("data/2022-03-30_train_preprocessed.pkl.zip", compression="zip")
test.to_pickle("data/2022-03-30_test_preprocessed.pkl.zip", compression="zip")

In [77]:
for c in train.columns:
    print(c, train[c].unique())

bodyType ['лифтбек' 'внедорожник' 'компактвэн' 'хэтчбек' 'универсал' 'седан' 'купе'
 'кабриолет' 'родстер' 'минивэн' 'микровэн' 'пикап' nan 'фургон' 'лимузин'
 'тарга' 'фастбек']
brand ['SKODA' 'AUDI' 'HONDA' 'VOLVO' 'BMW' 'NISSAN' 'INFINITI' 'MERCEDES'
 'TOYOTA' 'LEXUS' 'VOLKSWAGEN' 'MITSUBISHI' 'CADILLAC' 'CHERY' 'CHEVROLET'
 'CHRYSLER' 'CITROEN' 'DAEWOO' 'DODGE' 'FORD' 'GEELY' 'HYUNDAI' 'JAGUAR'
 'JEEP' 'KIA' 'MAZDA' 'MINI' 'OPEL' 'PEUGEOT' 'PORSCHE' 'RENAULT' 'SUBARU'
 'SUZUKI' 'GREAT_WALL' 'LAND_ROVER' 'SSANG_YONG']
color ['белый' 'синий' 'серый' 'чёрный' 'бежевый' 'серебристый' 'красный'
 'коричневый' 'оранжевый' 'пурпурный' 'жёлтый' 'зелёный' 'голубой'
 'фиолетовый' 'золотистый' 'розовый']
description ['автомобиль приобретался у официального дилера оригинальный птс дополнительные опции обогрев всех сидений биксеноновая головная оптика датчики дождя и света двухзонный климат контроль круиз контроль передние и задние датчики парковки дополнительное оборудование сигнализация с автозапуском 007944 кредит от 8 первоначальный взнос от 0 более 20 банков партнеров ваш автомобиль может быть первоначальным взносом оформление за 30 минут по двум документам без справок и поручителей без скрытых платежей и комиссий возможна дистанционная подача заявки на кредит iobgogf 45095 '
 'группа компаний элан моторс официальный дилер представляет на автомобильном рынке санкт петербурга и северо западного федерального округа бренды chery haval lifan zotye dfm jac motors уаз кредит 7 9 годовых ниже потребительского кредита на данный автомобиль действует скидка при покупке в кредит в нашем автоцентре вы можете воспользоваться одной из нескольких выгодных программ автокредитования от банков партнеров кредит предоставляется банком партнером взнос от 0 сроком до 7 лет валюта кредита рубли сумма кредита до 3 х млн руб документы необходимые для рассмотрения паспорт и водительское удостоверение или любой другой документ при обмене вашего автомобиля по программе trade in в нашем автоцентре предоставляется дополнительная скидка уникальная расширенная гарантия до 2 лет на двигатель и кпп более подробную информацию вы можете получить в отделе продаж или по телефону ждём вас по адресу г санкт петербург выборгское ш 27'
 'специальные предложения на автомобили в наличии до конца месяца звоните прямо сейчас наши сотрудники всегда готовы предоставить наилучший опыт покупки и владения автомобилями škoda крона авто официальный дилер škoda в городе брянске мы работаем на рынке продажи и обслуживания автомобилей škoda с 2018 года в нашем автосалоне представлен весь модельный ряд автомобилей škoda уровень обслуживания соответствует самым высоким стандартам на все приобретённые автомобили предоставляется гарантия завода производителя мы работаем для вас каждый день с 8 00 20 00 ___________________________________________________________________________________________________________________ продажу полного модельного ряда автомобилей škoda с выгодой в денежном выражении мы можем предоставить вам возможность испытать наши автомобили во время тестовых поездок приобрести и установить дополнительное оборудование выгодные кредитные программы страховка все виды сервисных работ различные схемы покупки автомобилей škoda предварительный заказ бесплатная и быстрая оценка вашего автомобиля по рыночной цене в зачёт покупки новой škoda выгодные условия кредитование от 1 услуги страхования от ведущих страховых компаний россии специальные программы для корпоративных клиентов оформление в лизинг на ваших условиях регулярные акции и спец предложения позволяющие выгодно приобретать и обслуживать автомобили škoda квалифицированные консультации специалистов марки škoda _____________________________________________________________________________________________________________________________ hiihehg 61744 '
 ...
 'автомобиль куплен в декабре 2015 г., новым. всё, что должно было сломаться,  сломалось и отремонтировано. кто в курсе, и передние амортизаторы то же. сейчас установлены от прадо. всё работает отлично. '
 'продаю семейного любимца. большой вместительный минивэн повышенной проходимости: 7 полноценных мест + вместительный багажник.  умеренный расход топлива - от 6,5 л на 100 км (по трассе при 80-90 км\\ч) до 12-14 по городу.\nкомплектация - предмаксимальная  elegance (отличие от максимальной - нет люка и салон тканевый).\nподвеска: перед - tlcp ( амморты kayaba, пружины - рифф), лифт +2см; зад - усиленные пружины от rexton, амморты штатные. передний привод полностью обслужен в феврале: установлены новые хабы и клапан, проведена чистка системы. в феврале же заменён шкив коленвала. заменены опоры подрамника (все 6 штук), задние тормозные колодки и рулевые тяги ( отрегулированы развал-схождение).\nустановлены линзы hella 2 classic. трубки заднего контура кондиционера заменены на шланги высокого давления ( goodyear galaxy). зимняя резина michelin почти новая (пробег около 10 т. км). сервисная книжка с отметками. фаркоп, замок капота, сигнализация starline (без дистанционного запуска). \nзаправлялся на лукойле, добавлял bardahl.\nиз косяков: трещина по нижнему краю лобового стекла (обзору не мешает), притёртость внизу переднего бампера, небольшая царапина на правом крыле. ну и по птс - оригинал, но осталось 1 место (2 записи – это автосалоны, фактически я 2-й хозяин). на это сделаю скидку, либо устраню сам при условии оставления залога. красивые номера - в подарок (реально хорошие номера с двумя нулями после 5 и двумя одинаковыми буквами из 3-х)\nмашину любили, обслуживали своевременно, ездили в основном семьёй на дальние расстояния ( это второе авто в семье), не курили. авто живое, вылечены почти все болячки. помощь в продаже не нужна. аргументированный торг у капота.\n'
 'авто в отличном состоянии всё работает. большой вместительный минивэн повышенной проходимости: \nкомплектация - предмаксимальная elegance (отличие от максимальной - нет люка и салон тканевый).есть зимнии шины практически новые. последнее то 130ткм поменял шаровые опоры ремень ролики. авто полностью готово к дальнейшей эксплуотации.']
engineDisplacement [1.8 1.6 1.4 1.2 2.  3.6 1.5 1.9 1.3 2.8 3.  3.1 2.7 4.  2.4 2.9 4.2 2.5
 3.2 4.1 2.3 2.2 2.6 nan 5.9 5.2 3.7 5.  2.1 6.  3.5 0.7 1.7 4.4 4.8 6.6
 4.6 4.9 3.4 5.4 5.6 3.8 1.  3.3 4.5 5.5 4.7 6.2 5.8 5.7 4.3 1.1 3.9 6.3
 6.4 8.2 5.3 7.  0.8 8.1 6.7 7.5 7.4 6.5 6.1 6.8 8.4 7.3]
enginePower [180. 110.  90. 150. 105. 125. 152. 102.  70.  80. 122. 140.  86.  75.
  68. 115. 260. 280.  64. 220. 143. 100.  58. 200.  60. 160. 170. 120.
  54. 190.  69.  79. 101. 193. 184.  53. 249. 250. 255. 211. 340. 245.
 225. 272. 333. 290. 204. 300. 460. 239. 310. 520. 165. 422. 450. 372.
 130. 350. 230. 163. 177. 238. 265. 435. 344. 133. 136. 270. 252. 600.
 605. 367. 420. 354. 408.  88.  71. 500. 271. 400. 218. 210. 335. 571.
 560. 174. 233. 112. 144. 137. 646. 113. 610. 580. 525. 550. 231. 380.
 320. 313. 360. 256.  93. 166. 145. 186.  83. 118. 201. 147. 155. 156.
 142. 257.  52. 205. 132. 182. 154.  78.  98. 158. 243. 162. 192.  91.
 128. 295. 103.  95. 275. 194. 116. 173. 281. 135.  94. 188.  66. 185.
 109. 131.  85. 141. 212.  42. 124. 248. 240. 247.  50. 215.  46. 175.
 314.  76.  99. 237.  67.  44. 114.  82. 176. 148.  nan 106.  92. 181.
 235. 286. 203. 315. 304. 126. 117. 197. 407.  87. 306. 213. 285.  72.
 111. 410. 530. 258. 575. 326. 381. 370. 555. 355. 462. 625. 431. 609.
 387. 347. 264. 129. 510. 507. 445. 329. 635. 269. 171. 169.  49. 167.
 107. 405. 234. 540.  65. 127. 309.  48. 157. 331. 390.  97. 221. 262.
 222. 283. 307. 328. 302. 325. 330. 149. 284. 278. 168. 612. 585. 388.
 455. 476. 558. 544. 296. 224. 517. 639. 421. 557. 469. 299. 394. 537.
 591.  55. 401. 242. 481. 503. 183. 273. 415. 288. 236. 146. 199. 151.
 179. 277. 178. 282.  74. 187. 223. 301.  73. 318. 266. 121. 276. 228.
 189. 263. 317. 208. 294. 383. 417. 477. 161. 214. 292. 423. 219. 303.
 305. 279.  84. 241. 209.  41. 227. 139. 202.  61. 254. 338. 430.  51.
 343. 321. 226. 311. 322. 564. 409. 426. 349. 324. 119. 589. 312. 172.
 466. 495. 513. 437. 365. 323. 345. 403.  63. 359. 396. 425. 253. 164.
 287. 138. 207.  38. 251. 717. 492. 395. 702. 470. 123. 411. 375. 385.
  96.  40.  20. 526. 662. 412.  56. 334. 373.  81.  77. 198. 196. 298.
 416. 268. 363. 468. 352. 274. 159.  62. 424. 108. 195. 261. 104. 244.
 153. 485.  45.  89. 480. 475. 608. 382. 440. 570. 521. 761. 680.  17.
  11.  30. 232.  57. 134. 565. 339. 457. 487. 402. 514. 700. 800. 630.
  32. 316. 626.]
fuelType ['бензин' 'дизель' 'электро' 'гибрид' nan 'газ' 'универсал']
mileage [162026.  19210.     nan ... 262800. 106124. 191768.]
modelDate [2013. 2020. 2017. 2012. 2008. 2016. 2010. 2009. 2015. 2007. 2000. 2004.
 1999. 2019. 2014. 1996. 2006. 1994. 1998. 2001. 1989. 1976. 2018. 2011.
 1997. 1986. 2005. 1990. 1988. 1991. 1978. 1982. 2003. 2002. 1983. 1987.
 1979. 1984. 1995. 1993. 1985. 1992. 1981.   nan 1974. 1975. 2021. 1980.
 1959. 1958. 1968. 1951. 1938. 1953. 1966. 1937. 1936. 1949. 1972. 1977.
 1971. 1956. 1955. 1970. 1963. 1973. 1964. 1957. 1960. 1927. 1908. 1932.
 1965. 1935. 1967. 1948. 1969. 1934. 1950. 1961. 1904.]
numberOfDoors [ 5.  4.  2.  3. nan  0.]
productionDate [2015. 2020. 2021. 2018. 2019. 2014. 2017. 2011. 2012. 2013. 2016. 2010.
 2007. 2009. 2008. 2003. 2000. 2001. 2002. 2006. 2004. 1998. 1997. 1999.
 2005. 1996. 1992. 1984. 1987. 1995. 1990. 1991. 1989. 1994. 1988. 1986.
 1983. 1993. 1985. 1980. 1982. 1978. 1974. 1979. 1969. 1959. 1975. 1976.
 1952. 1973. 1981. 1938. 1972. 1937. 1949. 1948. 1950. 1953. 1961. 1955.
 1964. 1971. 1967. 1957. 1931. 1927. 1923. 1924. 1970. 1932. 1939. 1977.
 1951. 1954. 1960. 1968. 1904. 1966. 1965. 1963. 1936.]
vehicleTransmission ['ROBOT' 'AUTOMATIC' 'MECHANICAL' 'VARIATOR' nan]
vendor ['EUROPEAN' 'JAPANESE' 'AMERICAN' 'CHINESE' 'KOREAN' 'CHINEESE']
Владельцы [ 3.  1. nan  2.]
Владение [   nan   635.  2550.   880.  1945.  2855.  2340.  1000.   545.  1855.
  1825.  3585.  1820.  3495.  2190.  1095.   425.  4740.  3645.  3130.
  2585.  1455.  1090.  3465.  1215.  1155.  1490.   790.   695.  2920.
  2185.  8515.   455.  2400.   605.  4380.   725.  4410.  3345.  4015.
  2735.  1030.  1460.  2250.  2705.  3220.  4470.   665.  3100.  4680.
   730.  1975.  3315.  3650.   395.  2125.   575.  2555.  1520.  4375.
  2035.  1580.  1395.  1885.   515.  3770.  2825.  2490.   485.  2520.
  2950.   940.  1125.  1760.   365.  1305.  5075.  1245.  2980.  1185.
  1670.  1335.  2220.  4165.  3280.   820.  1060.   970.   760.  3285.
  1425.  2460.  3250.  6325.  3555.  2885.   850.  2615.  1550.  3010.
  5290.  2915.  3375.  3615.  1790.  3800.  3190.  5045.  1915.  5745.
  2765.  4620.  4195.  1275.  2280.  1730.  4925.  1700.  3740.  2370.
  4865.  2095.  1610.  3830.  3890.  2155.  5685.  7935.  3525.  4745.
  5320.  4010.  4255.  5930.  2645.  6385.  4590.  5835.  3920.  3435.
  4955.  3070.  5260.  8300.  5200.  8790.  4105.  4835.  6140.  4345.
  4045.  8330.  5960.  5475.  8455.  4650.  4710.  5410.  4285.  4135.
  7540.  4225.  5990. 10185.  4560.  5110.  5625.  2065.  7175.  6265.
  4530.  8940.  3680.  7450.  4775.  7815.  3860.  3980.  5015.  5105.
  5170.  4985.  5535.  1640.  3040.  2795.  2310.  3950.  6505.  5230.
 12710.   910.  5440.  9275.  8180.  8820. 11525.  8605.  5870.  1365.
  2675.  2430.  3405.  7205.  9790.  5380.  4895.  6690.  3160.  6295.
  4805.  6900.  4075.  4315.  2005.  3710.  5140.  5840.  6200.  6720.
  5805. 10155.  8090.  7570.  6050.  8575.  7905.  5900.  5775.  6630.
  8665.  6235.  6660.  5595.  6415.  5715.  4440.  7085.  7145.  6170.
  6600.  8270.  6205.  6995.  9000.  4500.  6355.  3745.  1005.  6241.
   336.  2892.  2223.   397.   578.  1523.   640.    31.  1280.   305.
   854. 10105.   701.   244.  1066.   974.  3197.  2315.   609. 11050.
  1584.   428.  2649.  5632.  8493.  1645.  2800.  1431.   153.   823.
   489.    92.  1308.   184.  2162.  3896.  5298.  4292.  5844.  1339.
   550.   123.  1766.  1492.  1188.  1096.  1858.  1158.  1127.   670.
  4414.  5237.  2011. 12450.  2101.   731.  2376.  2192.  3014.  3227.
  3927.  2619.  3106.   366.  3623.  1461.  2741.   458.  1400.  2588.
  3135.  1249.  1980.  1919.  1705.   943.  1219.  2435.  4961.  2710.
   884.  2466.   915.  1736.  1614.   793.  2284.  1035.   275.  2345.
  3592.   519.   762.   213.  2039.  4171.  2404.  2984.  2527.  3045.
     0.  2496.  2254.  5541.  5206.  2070.  1674.  3350.  2557.  2131.
  3288.  1950.  2831.  1827.  3380.  6545.  4383.  3957.  2953.  5114.
  2769.  3166.  5053.  3472.  3258.  7580.  5023.  5267.  3562.  4049.
    62.  3075.  1553.  4749.  2922.  3411.  1370.  3837.  3776.  3441.
  4536.  3653.  1797.  3684.  4658.  4596.  3715.  6302.  4202.  3806.
  4141.  1889.  7152.  6667.  4933.  2680.  4322.  4261.  4627.  6575.
  3531.  4719.  4353.  3865.  3500. 15615.  4018.  4230.  6394.  3988.
  5571.  4475.  5145.  3319.  7945.  6514.  2861.  9620.  4567.  4841.
  6088. 10197.  5875.  4902.  5936.  5388.  4872.  5906.  5814.  5418.
  4992.  5479.  4080.  4506.  4688.  6484.  4811.  5084.  8006.  4780.
  5691.  5176.  4110.  5722.  4445.  5753.  5357.  5449.  6057.  5326.
  5967.  8828.  7183.  5510.  6759.  5783.  6119.  6180.  7914.  7458.
  5602.  7549.  8340.  5997.  6971.  6149.  7336.  7671.  6453.  7855.
  6272.  7367.  5663.  7794.  7763.  6728.  8310.  8189.  6818.  9681.
  7305.  9010.  6606.  6363.  7063. 15525. 11232.  7702.  8279.  8371.
  7124. 14064.  6028.  6910. 10440.  8554.  6879.  8128.  6333.  6787.
  6210. 11507.  7093.  6637.  6698.  7032.  7397.  7975.  8159.  6940.
  7489.  7214. 10897.  9375. 11446.  7244.  9771.  6422.  6849.  9041.
  8432. 10836.  8098. 10716.  7610.  8067.  8463.]
ПТС ['Оригинал' nan 'Дубликат']
Привод ['передний' nan 'полный' 'задний']
Руль ['Левый' nan 'Правый']
price [  999000.  1179000.  1464100. ... 52500000.   534900.   749750.]
sample [1 2]

[rework of this notebook](2022-04-02_train-test_comparison.ipynb)