In [1]:
import pandas as pd
from itertools import chain, combinations
from collections import Counter

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1083,tt0325980,140000000,655011224,Pirates of the Caribbean: The Curse of the Bla...,Johnny Depp|Geoffrey Rush|Orlando Bloom|Keira ...,Gore Verbinski,Prepare to be blown out of the water.,"Jack Sparrow, a freewheeling 17th-century pira...",143,Adventure|Fantasy|Action,Walt Disney Pictures|Jerry Bruckheimer Films,7/9/2003,7.3,2003
703,tt0765476,60000000,50650079,Meet Dave,Eddie Murphy|Elizabeth Banks|Gabrielle Union|S...,Brian Robbins,There's a Whole Other World Going on Inside of...,A crew of miniature aliens operate a spaceship...,90,Comedy|Science Fiction|Adventure|Family,20th Century Fox|Regency Enterprises|Guy Walks...,7/8/2008,5.1,2008
1301,tt2172935,18000000,7972967,Metallica: Through the Never,Dane DeHaan|Mackenzie Gray|James Hetfield|Lars...,NimrÃ³d Antal,Experience Metallica like never before,"Trip, a young roadie for Metallica, is sent on...",93,Music,Exclusive Media Group|Picturehouse Entertainment,9/25/2013,6.6,2013
778,tt1657507,40000000,60965854,Colombiana,Zoe Saldana|Cliff Curtis|Callum Blue|Michael V...,Olivier Megaton,Revenge is beautiful.,"Zoe Saldana plays a young woman who, after wit...",108,Action|Thriller|Crime|Drama,TF1 Films Production|Canal+|CinÃ©CinÃ©ma|Grive...,7/27/2011,6.5,2011
1112,tt0305224,75000000,195745823,Anger Management,Adam Sandler|Jack Nicholson|Luis GuzmÃ¡n|Maris...,Peter Segal,Feel the Love.,After a misunderstanding aboard an airplane th...,106,Comedy,Columbia Pictures|Revolution Studios|Happy Mad...,4/11/2003,5.9,2003

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

In [4]:
# Checking duplicates and null and nan

display(data.duplicated().sum())
display(data.isna().sum())
display(data.isnull().sum())

0

imdb_id                 0
budget                  0
revenue                 0
original_title          0
cast                    0
director                0
tagline                 0
overview                0
runtime                 0
genres                  0
production_companies    0
release_date            0
vote_average            0
release_year            0
dtype: int64

imdb_id                 0
budget                  0
revenue                 0
original_title          0
cast                    0
director                0
tagline                 0
overview                0
runtime                 0
genres                  0
production_companies    0
release_date            0
vote_average            0
release_year            0
dtype: int64

# Предобработка

In [67]:
# Creating dict to answers
answers = {}

# Creating copy of original dataframe to manipulate
df = data.copy()

# Making some processings on copy of dataframe

df['profit'] = df['revenue'] - df['budget'] # New column with Profit value
df['title_len'] = df['original_title'].apply(lambda x: len(str(x))) # New column with string length
df['overview_counter'] = df['overview'].apply(lambda x: len(x.split())) # New column with sum of worlds
df['director'] = df['director'].str.split('|') # Split of Director column
df['genres'] = df['genres'].str.split('|') # Split of Genres column
df['cast'] = df['cast'].str.split('|') # Split of Cast column
df['cast_comb'] = df['cast'].apply(lambda x: list(combinations(x, 2))) # New column with pairs of actors
df['production_companies'] = df['production_companies'].str.split('|') # Split of Production Companies column
df['release_date'] = pd.to_datetime(df['release_date'], format='%m/%d/%Y') # Parse string to date format of Release Date column
output_list = ['imdb_id', 'profit', 'original_title', 'release_year'] # List tj reduce length of code

In [6]:
def most_frequent(list_in):
    """Function to count strins in list. Output one most common string (can be changed to another value if needed)"""
    return Counter(list_in).most_common(1)

# 1. У какого фильма из списка самый большой бюджет?

In [7]:
answers['01'] = 'Pirates of the Caribbean: On Stranger Tides (tt1298650) (+)'

In [8]:
display(df[df['budget'] == df['budget'].max()][['imdb_id', 'budget', 'original_title']])

       imdb_id     budget                               original_title
723  tt1298650  380000000  Pirates of the Caribbean: On Stranger Tides

# 2. Какой из фильмов самый длительный (в минутах)?

In [9]:
answers['02'] = 'Gods and Generals (tt0279111) - 214 (tt0279111) (+)'

In [10]:
display(df[df['runtime'] == df['runtime'].max()][['imdb_id', 'runtime', 'original_title']])

        imdb_id  runtime     original_title
1157  tt0279111      214  Gods and Generals

# 3. Какой из фильмов самый короткий (в минутах)?

In [11]:
answers['03'] = 'Winnie the Pooh (tt1449283) - 63 (tt1449283) (+)'

In [12]:
display(df[df['runtime'] == df['runtime'].min()][['imdb_id', 'runtime', 'original_title']])

       imdb_id  runtime   original_title
768  tt1449283       63  Winnie the Pooh

# 4. Какова средняя длительность фильмов?

In [13]:
answers['04'] = '110 (+)'

In [14]:
display(round(df['runtime'].mean()))

110

# 5. Каково медианное значение длительности фильмов?

In [15]:
answers['05'] = '107 (+)'

In [16]:
display(df['runtime'].median())

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [17]:
answers['06'] = 'Avatar (tt0499549) - 2544505847 (+)'

In [18]:
display(df[df['profit'] == df['profit'].max()][output_list])

       imdb_id      profit original_title  release_year
239  tt0499549  2544505847         Avatar          2009

# 7. Какой фильм самый убыточный?

In [19]:
answers['07'] = 'The Lone Ranger (tt1210819) - -165710090 (+)'

In [20]:
display(df[df['profit'] == df['profit'].min()][output_list])

        imdb_id     profit   original_title  release_year
1245  tt1210819 -165710090  The Lone Ranger          2013

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [21]:
answers['08'] = '1478 (+)'

In [22]:
display(df[df['profit'] > 0]['profit'].count())

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [23]:
answers['09'] = 'The Dark Knight (tt0468569) - 1001921825 (+)'

In [24]:
display(df[df['release_year'] == 2008][['imdb_id', 'revenue', 'original_title']].nlargest(1, ['revenue']))

       imdb_id     revenue   original_title
599  tt0468569  1001921825  The Dark Knight

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [25]:
answers['10'] = 'The Lone Ranger (tt1210819) - -165710090 (2013) (+)'

In [26]:
display(df[(df['release_year'] >= 2012) & (df['release_year'] <= 2014)][output_list].nsmallest(1, ['profit']))

        imdb_id     profit   original_title  release_year
1245  tt1210819 -165710090  The Lone Ranger          2013

# 11. Какого жанра фильмов больше всего?

In [27]:
answers['11'] = 'Drama (+)'

In [28]:
display(most_frequent(list(df.explode('genres')['genres'])))

[('Drama', 782)]

Option 2

In [29]:
print(most_frequent(list(chain.from_iterable(df['genres']))))

[('Drama', 782)]

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [30]:
answers['12'] = 'Drama (+)'

In [31]:
print(most_frequent(list(chain.from_iterable(list(df[df['profit'] > 0]['genres'])))))

[('Drama', 560)]

Option 2

In [32]:
print(most_frequent(list(df[df['profit'] > 0].explode('genres')['genres'])))

[('Drama', 560)]

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [33]:
answers['13'] = 'Peter Jackson - 6490593685 (+)'

In [34]:
print(df.explode('director').groupby('director')['revenue'].sum().idxmax())
print(df.explode('director').groupby('director')['revenue'].sum().max())

Peter Jackson
6490593685

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [35]:
answers['14'] = 'Robert Rodriguez (+)'

In [36]:
print(df[df.genres.str.join('').str.contains('Action')].explode('director').
      groupby('director')['genres'].count().idxmax())

Robert Rodriguez

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [37]:
answers['15'] = 'Chris Hemsworth (+)'

In [38]:
display(df[df['release_year'] == 2012].explode('cast').groupby('cast')['revenue'].sum().idxmax())

'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [39]:
answers['16'] = 'Matt Damon (+)'

In [40]:
display(df[df['budget'] > df['budget'].mean()].explode('cast').groupby('cast')['cast'].count().idxmax())

'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [41]:
answers['17'] = 'Action (+)'

In [42]:
display(df[df.cast.str.join('').str.contains('Nicolas Cage')].explode('genres').
      groupby('genres')['genres'].count().idxmax())

'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [43]:
answers['18'] = 'K-19: The Widowmaker - -64831034 (tt0267626) (+)'

In [44]:
display(df[df.production_companies.str.join('').str.contains('Paramount Pictures')]
      [output_list].nsmallest(1, 'profit'))

       imdb_id    profit        original_title  release_year
925  tt0267626 -64831034  K-19: The Widowmaker          2002

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [45]:
answers['19'] = '2015 - 25449202382 (+)'

In [46]:
display(df.groupby('release_year')['revenue'].sum().idxmax())
display(df.groupby('release_year')['revenue'].sum().max())

2015

25449202382

# 20. Какой самый прибыльный год для студии Warner Bros?

In [47]:
answers['20'] = '2014 - 2295464519 (+)'

In [48]:
display(df[df.production_companies.str.join('').str.contains('Warner Bros')].groupby('release_year')
      ['profit'].sum().idxmax())
display(df[df.production_companies.str.join('').str.contains('Warner Bros')].groupby('release_year')
      ['profit'].sum().max())

2014

2295464519

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [49]:
answers['21'] = '9 (september) - 227 (+)'

In [50]:
display(df.groupby(df['release_date'].dt.month)['imdb_id'].count().idxmax())
display(df.groupby(df['release_date'].dt.month)['imdb_id'].count().max())

9

227

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [51]:
answers['22'] = '450 (+)'

In [52]:
display(df[df['release_date'].dt.month.isin([6, 7, 8])]['imdb_id'].count())

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [53]:
answers['23'] = 'Peter Jackson - 7 (+)'

In [54]:
print(df[df['release_date'].dt.month.isin([1, 2, 12])].
      explode('director').groupby('director')['imdb_id'].count().idxmax())
print(df[df['release_date'].dt.month.isin([1, 2, 12])].
      explode('director').groupby('director')['imdb_id'].count().max())

Peter Jackson
7

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [55]:
answers['24'] = 'Four By Two Productions - 83 (+)'

In [56]:
display(df.explode('production_companies').groupby('production_companies')['title_len'].max().idxmax())
display(df.explode('production_companies').groupby('production_companies')['title_len'].max().max())

'Four By Two Productions'

83

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [57]:
answers['25'] = 'Midnight Picture Show - 175 (+)'

In [58]:
display(df.explode('production_companies').groupby('production_companies')['overview_counter'].mean().idxmax())
display(df.explode('production_companies').groupby('production_companies')['overview_counter'].mean().max())

'Midnight Picture Show'

175.0

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [59]:
answers['26'] = 'The Dark Knight, Inside Out (+)'

In [60]:
display(df[df['vote_average'] >= df['vote_average'].quantile(0.99)]
      [['original_title', 'vote_average']].nlargest(5, 'vote_average'))

         original_title  vote_average
599     The Dark Knight           8.1
9            Inside Out           8.0
34                 Room           8.0
118        Interstellar           8.0
125  The Imitation Game           8.0

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [61]:
answers['27'] = 'Daniel Radcliffe, Rupert Grint - 8 (+)'

In [68]:
display(df.explode('cast_comb')['cast_comb'].value_counts().nlargest(1))

(Daniel Radcliffe, Rupert Grint)    8
Name: cast_comb, dtype: int64

# Submission

In [63]:
# Lets see all answers
display(answers)

{'01': 'Pirates of the Caribbean: On Stranger Tides (tt1298650) (+)',
 '02': 'Gods and Generals (tt0279111) - 214 (tt0279111) (+)',
 '03': 'Winnie the Pooh (tt1449283) - 63 (tt1449283) (+)',
 '04': '110 (+)',
 '05': '107 (+)',
 '06': 'Avatar (tt0499549) - 2544505847 (+)',
 '07': 'The Lone Ranger (tt1210819) - -165710090 (+)',
 '08': '1478 (+)',
 '09': 'The Dark Knight (tt0468569) - 1001921825 (+)',
 '10': 'The Lone Ranger (tt1210819) - -165710090 (2013) (+)',
 '11': 'Drama (+)',
 '12': 'Drama (+)',
 '13': 'Peter Jackson - 6490593685 (+)',
 '14': 'Robert Rodriguez (+)',
 '15': 'Chris Hemsworth (+)',
 '16': 'Matt Damon (+)',
 '17': 'Action (+)',
 '18': 'K-19: The Widowmaker - -64831034 (tt0267626) (+)',
 '19': '2015 - 25449202382 (+)',
 '20': '2014 - 2295464519 (+)',
 '21': '9 (september) - 227 (+)',
 '22': '450 (+)',
 '23': 'Peter Jackson - 7 (+)',
 '24': 'Four By Two Productions - 83 (+)',
 '25': 'Midnight Picture Show - 175 (+)',
 '26': 'The Dark Knight, Inside Out (+)',
 '27': 'Daniel Radcliffe, Rupert Grint - 8 (+)'}

In [64]:
# Check number of answers
len(answers)

27